<header>
    <div class="container">
        <div class="logo">
            <img src="assets/Logo.png" alt="anime" title="animes">
            <ul class="home">
                <a routerLink="/">WallPapers</a>
            </ul>
        </div>
    </div>
</header>

<div class="register">
    <form class="formulario" [formGroup]="registerForm" (ngSubmit)="submit()">
        <h1>Registro</h1>
        <div *ngIf="submitted && success" class="success">Se ha registrado con éxito ✅</div>
        <div *ngIf="submitted && error" class="error">❌ El usuario ya existe ❌</div>
        <div class="form-nombre">
            <div class="etiqueta">
                <label>Nombre</label>
            </div>
            <input type="text" class="username" formControlName="username" placeholder="nombre">
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors['required']">El nombre es obligatorio</div>
            </div>
        </div>
        <div class="form-apellido">
            <div class="etiqueta-apellido">
                <label>Apellido</label>
            </div>
            <input type="text" class="surname" formControlName="surname" placeholder="apellido">
            <div *ngIf="submitted && f['surname'].errors" class="invalid-feedback">
                <div *ngIf="f['surname'].errors['required']">El apellido es obligatorio</div>
            </div>
        </div>
        <div class="form-email">
            <div class="etiqueta-email">
                <label>Email</label>
            </div>
            <input type="text" class="email" formControlName="email" placeholder="email">
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">El email es obligatorio</div>
                <div *ngIf="f['email'].errors['pattern']">Email invalido</div>
            </div>
        </div>
        <div class="form-password">
            <div class="etiqueta-pass">
                <label>Password</label>
            </div>
            <input type="password" class="password" formControlName="password" placeholder="password">
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Debe ingresar una contraseña</div>
                <div *ngIf="f['email'].errors['minLength']">La contraseña debe tener minimo 6 caracteres</div>
            </div>
        </div>
        <div class="form-confirmPassword">
            <div class="etiqueta-confirmPass">
                <label>Confirmar contraseña</label>
            </div>
            <input type="password" class="confirmPassword" formControlName="confirmPassword"
                placeholder="confirmar contraseña">
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Debe confirmar la contraseña</div>
                <div *ngIf="f['email'].errors['compare']">La contraseña no coinciden</div>
            </div>
        </div>
        <div class="botones">
            <button type="submit" class="submit">Register</button>
            <button type="button" (click)="onReset()" class="reset">Reset</button>
            <button type="submit" class="submit" routerLink="/login">Login</button>
        </div>
    </form>
</div>