<header>
    <div class="container">
        <div class="logo">
            <img src="assets/Logo.png" alt="anime" title="animes">
            <ul class="home">
                <a routerLink="/">WallPapers</a>
            </ul>
        </div>

        <nav class="menu">
            <label for="boton_menu" class="nav_label">
                <img src="assets/menu.png" alt="menu" title="menu">
            </label>
            <input type="checkbox" id="boton_menu" class="nav_input">

            <ul class="nav_menu">
                <div *ngIf="logged" class="logged-in">
                    <li><a>{{userLogged}}</a></li>
                    <li routerLink="/images/new"><a>Upload</a></li>
                    <li><a>LogOut</a></li>
                </div>
                <div *ngIf="!logged" class="no-logged-in">
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/register">📝Registrate</a></li>
                </div>
            </ul>
        </nav>
    </div>
</header>

<div class="container-body">
    <div class="images-gallery">
        <div class="card" *ngFor="let image of this.images">
            <div class="card-title">
                Título: {{image.title}}
            </div>
            <img [src]="'http://localhost:4000/' + image.image" alt="imagenes">
            <div class="card-description">
                Descripción: {{image.descriptionImage}}
            </div>
        </div>
    </div>
</div>