<header>
    <div class="container">
        <div class="logo">
            <img src="assets/Logo.png" alt="anime" title="animes">
            <ul class="home">
                <a routerLink="/">WallPapers</a>
            </ul>
        </div>

        <nav class="menu">
            <label for="boton_menu" class="nav_label">
                <img src="assets/menu.png" alt="menu" title="menu">
            </label>
            <input type="checkbox" id="boton_menu" class="nav_input">

            <ul class="nav_menu">
                <div>
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/register">📝Registrate</a></li>
                </div>
            </ul>
        </nav>
    </div>
</header>