* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #665ab5;
  position: fixed;
  z-index: 1;
}

.container {
  display: flex;
  width: 80%;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

#boton_menu {
  display: none;
}

header label {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo ul a {
  margin-left: 15px;
  color: #fff;
  font-size: 30px;
  letter-spacing: 2px;
  text-decoration: 0;
}

.logo ul:hover {
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo ul {
  display: inline-block;
  transition: all 0.5s linear;
  margin: 0;
  padding: 5px;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.menu li {
  display: flex;
  transition: all 0.5s linear;
}

.menu li:hover {
  cursor: pointer;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu li a {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fff8dc;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.menu .nav_menu div {
  display: flex;
}

.container-body {
  width: 80%;
  margin: 100px auto 0 auto;
}

.images-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.8rem;
  grid-row-gap: 1.2rem;
}

.images-gallery .card img {
  width: 100%;
}

.images-gallery .card {
  border-radius: 8px;
  background-color: #dbd6f2;
  box-shadow: 3px 13px 20px #a89fd5, -13px -13px 20px #ffffff;
  overflow: hidden;
  transition: all 0.25s;
}

.images-gallery .card:hover {
  translate: 0 -10px;
  box-shadow: 0px 15px 30px rgba(34, 17, 47, 0.5);
}

.card-title,
.card-description {
  display: flex;
  font-size: 13px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  color: #515a5a;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header {
    height: fit-content;
  }

  .logo ul a {
    font-size: 25px;
  }

  .menu .nav_menu {
    display: block;
  }

  .menu li {
    display: block;
    padding: 2px 2px;
  }

  .menu li a {
    font-size: 10px;
    margin: auto;
  }
}

@media only screen and (max-width: 640px) {
  .logo figure {
    margin-left: 10px;
  }

  .logo ul a {
    font-size: 20px;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .container label {
    display: flex;
  }

  .menu .nav_menu div {
    display: block;
  }

  .menu li {
    display: none;
    font-size: 8px;
    padding: 5px 2px;
  }
  .menu li a {
    padding: 0px 5px;
  }

  #boton_menu:checked + .nav_menu li {
    display: block;
  }
}
