<header>
    <div class="container">
        <div class="logo">
            <img src="assets/Logo.png" alt="anime" title="animes">
            <ul class="home">
                <a routerLink="/">WallPapers</a>
            </ul>
        </div>
    </div>
</header>
<div class="login">
    <form action="" class="formulario">
        <h1>Bienvenido</h1>
        <div class="form-email">
            <label class="etiqueta">
                Email:
            </label>
            <input type="email" class="email" placeholder="mail@adress.com ">
        </div>
        <div class="form-password">
            <label class="etiqueta-pass">
                Password:
            </label>
            <input type="password" class="password" placeholder="mail@adress.com ">
        </div>
        <div class="botones">
            <button type="submit">Enviar</button>
            <button type="submit" routerLink="/register">Registrarse</button>
        </div>
    </form>
</div>